@model IEnumerable<CartItem>
@if(Model == null){
    <script>
        window.location.replace("/mainmenu");
    </script>
    return;
}
<div>
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script>
        async function GetTotalPriceAsync() {
            const result = await $.ajax({
                url: "/mainmenu/getcartprice",
                type: 'GET'
            });
            return result;
        }

        async function GetJsonData(){
            var price = await GetTotalPriceAsync();
            return {
                purchase_units: [{
                amount: {
                    value: price
                }
                }]
            };
            //return JSON.stringify(purchase_units: [{1}]);
        }

        function UpdateTotalPrice(){
            $.get("/mainmenu/getcartprice").done(function(price) {
                $("#TotalPrice").text(price);
            });
        }

        function AddToCartFunction(id){
        $.post("/MainMenu/AddToCart/"+id).done(function(){
                UpdateTotalPrice();
                elementName = "#AmountValue_" + id;
                val = $(elementName).text();
                val = parseInt(val, 10) + 1;
                $(elementName).text(val);
            });
            return false;
        }

        function RemoveFromCartFunction(id){
        $.post("/MainMenu/RemoveFromCart/"+id).done(function(){
                UpdateTotalPrice();
                elementName = "#AmountValue_" + id;
                val = $(elementName).text();
                val = parseInt(val, 10) - 1;
                $(elementName).text(val);
            });
            return false;
        }

        document.addEventListener('DOMContentLoaded', UpdateTotalPrice(), false);
    </script>
    <script src="https://www.paypal.com/sdk/js?client-id=AWormDjZhUILLdw4oh0BPyi6zjWhN--ZilOyJyDRAiAQAt_D9kElz7KTsJske2ZOO_Nav2cl45_Gz8s5&currency=PLN"></script>
</div>

@{
    foreach (var item in Model)
    {      
        <div class="jumbotron jumbotron-fluid" style="padding: 2%; padding-right: 0px;">
            <div class="container" style="display: flex; flex-direction: row; vertical-align: middle;">
                <img src="/food_images/@item.Food.ImageName" style="height: 15vh; width: 15vh; margin: 0px">
                <div class="align-self-center" style="margin-left: 10%; width: 40%;">
                    <p style="font-size: large;">
                        @item.Food.Name
                    </p>
                </div>
                <div style="width: 30%; display: flex; align-items: flex-end;">
                    <div class="btn-group" role="group" style="margin-right: 0px; margin-left: auto;">
                        <button onclick="RemoveFromCartFunction(@item.FoodID);" type="button" class="btn btn-danger">-</button>
                        <button id="AmountValue_@item.FoodID" type="button" class="btn btn-light" disabled>@item.Amount</button>
                        <button onclick="AddToCartFunction(@item.FoodID);" type="button" class="btn btn-success">+</button>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; width: 15%; margin-left: auto; align-items: stretch;">
                    <div style="height: 100%; text-align: center;">
                        <button class="btn btn-light">
                            <svg width="3vh" height="3vh" viewBox="0 0 16 16" class="bi bi-trash" fill="#cc2222" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </div>
                    <div style="text-align: center;">
                        <div>@item.Food.Price</div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="jumbotron jumbotron-fluid" style="width: 50%; margin-left: auto; margin-right: 0px;">
        <div class="container">
            <div style="display: flex;">
                <div>Total: </div>
                <div id="TotalPrice">15</div>
            </div>
            <div id="paypal-button-container" style="width: 70%; margin: auto;"></div>
            <script>
                paypal.Buttons({
                    createOrder: async function(data, actions) {
                        // This function sets up the details of the transaction, including the amount and line item details.
                        var resjson = await GetJsonData();
                        return actions.order.create(resjson);
                    },
                    onApprove: function(data, actions) {
                        // This function captures the funds from the transaction.
                        return actions.order.capture().then(function(details) {
                            // This function shows a transaction success message to your buyer.
                            console.log(details);
                            alert('Transaction completed by ' + details.payer.name.given_name);
                        });
                    }
                }).render('#paypal-button-container');
            </script>
        </div>
    </div>
}