@model IEnumerable<WorkTime>
<div class="container" style="width: 40%; text-align: center;">
    <ul class="list-group">
@{
    
    foreach(var item in Model){
        if(@item.IsOpen){
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        @item.Day:
                    </div>
                    <div class="col">
                        @item.Start.TimeOfDay.ToString(@"hh\:mm") - @item.End.TimeOfDay.ToString(@"hh\:mm")
                    </div>
                </div>
            </li>
        }
        else{
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        @item.Day:
                    </div>
                    <div class="col">
                        Closed
                    </div>
                </div>
            </li>
        }
    }
}
    </ul>
</div>